#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#professional {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#surprise {
    text-align: center;
}

.mochi {
    width: 200px;
    display: block;
    margin: auto;
}

.hidden {
    display:none;
}

#gr{
    margin: 3% auto 3% auto;
    width: 90vmin;
    height: 90vmax;
}

.row {
    display: flex;
    padding: 0 4px; 
}

.col {
    flex: 33.33%;
    padding: 0 4px;
}

.image {
    width: 100%;
}

.image:hover {
    transform: scale(1.5);
}