#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#professional {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#surprise {
    text-align: center;
}

.mochi {
    width: 300px;
    display: block;
    margin: auto;
}

.hidden {
    display:none;
}